

@import "variables";


@media all  and (max-width:1200px){
    .container{
        width: 900px;
    }

    header .header-bottom .header-bottom-left > div input{
        width: 252px;
    }

    .slider_wrapper .container #next{
            left: 852px;
    }
    .slider_wrapper .container .myslide .slider_itempack_1 p{
            margin-right: 300px;
    }
    .slider_wrapper .container .myslide .slider_itempack_1 h2{
        right: 94px;
        width: 922px;
    }


    .sale .container .goodsSale{
        width: 281px;
    }
    .sale .container .goodsSale img{
        margin-left: 55px;
    }
    .sale .container .goodsSale img{
        right: 10px;
        top: 171px;
    }
    .sale .container .goodsSale .percent{
        left: 173px;
        top: 178px;
    }
    .hits .container ul a li:nth-child(1) {
        margin-right: 0px; }
      .hits .container ul a li:nth-child(2) {
        margin-right: 0px; }
      .hits .container ul a li:nth-child(3) {
        margin-right: 0px; }
      .hits .container ul  a li:nth-child(4) {
        margin-right: 0px; }
      .hits .container ul a li:nth-child(6) {
        margin-right: 0px; }
      .hits .container ul  a li:nth-child(7) {
        margin-right: 0px; }
      .hits .container ul a li:nth-child(8) {
        margin-right: 0px; }
      .hits .container ul a li:nth-child(9) {
        margin-right: 0px; }
        .hits .container ul a li{
                width: 180px;
        }

        .view .container div figure img{
                width: 284px;
        }
        .hits .container #showContent{
        margin-left: 336px;}
}

@media all  and (max-width:924px){
        .container{
                width: 500px;
        }
        header{
                padding-bottom: -10px;
        }
        .bottomMenu{
                display: block;
        }
        header .header-top, header .header-bottom .header-bottom-right, header .header-bottom .header-bottom-left button{
                display: none;
        }
        header .header-bottom .header-bottom-left{
                display: block;
        }
        header .header-bottom .header-bottom-left h3{
                margin-left: 0px;
        }
        header .header-bottom .header-bottom-left > div input{
                background-color: #EEEEEE;
                margin-top: 17px;
                width: 500px;
        }
        header .header-bottom .header-bottom-left h3{
                font-size: 36px;
        }
        
        .slider_wrapper .container #next{
                left: 451px;
        }
        .slider_wrapper .container .myslide .slider_itempack_1 p{
                width: 300px;
                right: -158px;
        }
        .slider_wrapper .container .myslide .slider_itempack_1 h2{
            right: 94px;
            width: 400px;
        }
        .slider_wrapper .container .myslide .slider_itempack_1 button{
                left: 89px;
        }

        .sale .container .goodsSale{
                width: 226px;
        }

        .sale .container .goodsSale:nth-child(1){
                display: none;
        }
        .sale .container .goodsSale p{
                font-size: 14px;
        }
        .sale .container .goodsSale svg{
                right: 10px;
                top: 188px;
                width: 80px;
                height: 80px;
        }
        .sale .container .goodsSale .percent{
                left: 153px;
                top: 209px;
        }
        .sale .container .goodsSale img{
                margin-left: 32px;
        }
        .hits .container ul a li{
                width: 249px;
        }
        .hits .container #showContent{
                margin-left: 135px;
        }
        .view{
                padding-bottom: 0px;
        }
        .view .container div{
                flex-direction: column;
                align-items: center;
        }
        .view .container div figure{
                width: 296px;
        }
        footer .container .colomns ul li{
                font-size: 11px;
        }
        
        #myModalCategory .leftMenuCategory .leftMenuCategoryMore .leftMenuCategoryMoreUl {
                width: 310px; }

}
@media all  and (max-width:530px){
        .container{
                width: 340px;
        }
        header .header-bottom .header-bottom-left > div input{
                background-color: #EEEEEE;
                margin-top: 17px;
                width: 320px;
        }
        .slider_wrapper .container #next{
                left: 290px;
        }
        
        .slider_wrapper .container .myslide .slider_itempack_1 p{
                width: 200px;
                right: -205px;
                font-size: 12px;
        }
        .slider_wrapper .container .myslide .slider_itempack_2 h2{
                display: none;
        }
        .slider_wrapper .container .myslide .slider_itempack_1 h2{
            right: 94px;
            width: 200px;
            font-size: 18px;
        }
        .slider_wrapper .container .myslide .slider_itempack_1 button{
                left: 22px;
        }
        .sale .container .goodsSale .percent{
                left: 222px;
                top: 203px;
        }
        .sale .container .goodsSale {
                width: 158px;
        }
        .sale .container .goodsSale img{
                margin-left: 3px;
                margin-top: 65px;
        }
        .sale .container .goodsSale p{
                font-size: 13px;
                top: 9px;
        }
        .sale .container .goodsSale span{
                font-size: 19px;
                right: 24px;
                top: 45px;
        }
        .sale .container .goodsSale .percent{
                left: 87px;
                top: 203px;
        }
        .hits .container ul a li{
                background-size: 144px;
                width: 170px;
        }
        .hits .container ul a  li p:first-child{
                font-size: 16px;
        }
        .hits .container ul a  li p:nth-child(2){
                font-size: 13px;
        }
        .hits .container ul  a li span{
                font-size: 13px;
        }
        .hits .container #showContent{
                margin-left: 56px;
        }
        .searchInstagram {
                padding-bottom: 36px;
        }
        footer .container .colomns ul li{
                font-size: 8px;
        }



        #myModalCategory .leftMenuCategory .leftMenuCategoryMore {
                top: 371px;
                right: 0px;
                
        }
        #myModalCategory .leftMenuCategory .leftMenuCategoryMore .leftMenuCategoryMoreUl {
                width: 310px; }
}



/* basket */

@media all  and (max-width:1200px){
        .orderFull .container .orderLeft {
                width: 622px;
        }
        .orderFull .container .orderLeft .orderGoods .priceGoodsBasket{
                margin-right: 97px;
        }
        .orderFull .container .orderRight{
                width: 263px;
                height: 374px;
        }
        .orderFull .container .orderRight button {
                padding: 0px;
                width: 209px;
        }
        .orderFull .container .orderRight .agreementRules label {
                width: 172px;
        }
        .orderFull .container .orderLeft .wayDelivery form label{
                width: 290px;
        }
        .orderFull .container .orderLeft .theWayPay form label{
                width: 290px;
        }
}
@media all  and (max-width:924px){
        .orderFull .container .orderLeft{
                width: 500px;
        }
        .orderFull .container .orderRight{
                display: none;
        }
        .orderFull .container .orderLeft .orderGoods .priceGoodsBasket{
                margin-right: 54px;
                padding-left: 116px;
        }
        .orderFull .container .orderLeft .wayDelivery form label{
                width: 240px;
        }
        .orderFull .container .orderLeft .theWayPay form label{
                width: 240px;
        }
        .orderFull .container .orderLeft .yourData .totalnames form .names .nameUs input,
        .orderFull .container .orderLeft .yourData .totalnames form .contacts .telephone input,
        .orderFull .container .orderLeft .yourData .totalnames form .contacts .email input,
        .orderFull .container .orderLeft .yourData .totalnames form .names .secondnameUs input{
                width: 235px; 
        }
        .orderFull .container .orderLeft .SMS{
                padding-bottom: 108.5px;
        }
        .buttonFixed{
                display: block;
        }
        .buttonFixed .container .fixBot button{
                width: 500px;
        }
        
}
@media all  and (max-width:530px){
        .theWay{
                display: none;
        }
        .orderFull .container .orderLeft .orderGoods .priceGoodsBasket{
                display: none;
        }
        .orderFull .container .orderLeft .orderGoods{
                width: 300px;
                padding-bottom: 4px;
        }
        .orderFull .container .orderLeft .theWayPay .ways, .orderFull .container .orderLeft .yourData .ways{
                padding-top: 38px;
        }
        .orderFull .container .orderLeft .orderGoods p{
                font-size: 14px;
        }
        .orderFull .container .orderLeft .wayDelivery form label, .orderFull .container .orderLeft .theWayPay form label{
                width: 163px; 
                font-size: 12px;
        }
        .orderFull .container .orderLeft .yourData .totalnames form .names .nameUs input,
        .orderFull .container .orderLeft .yourData .totalnames form .contacts .telephone input,
        .orderFull .container .orderLeft .yourData .totalnames form .contacts .email input,
        .orderFull .container .orderLeft .yourData .totalnames form .names .secondnameUs input{
                width: 163px; 
        }
        .orderFull .container .orderLeft .yourData .register span{
                width: 234px;
                height: 100px;
        }
        .buttonFixed .container .fixBot button{
                width: 320px;
        }

}


/* Searcher */

@media all  and (max-width:1200px){

        .fullOfSearch .container .full .rightFullOfSearch{
                width: 654px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods {
                height: 1609px;
                width: 668px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising{
                width: 800px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising a .card{
                width: 190px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising a .card img{
                margin-left: 7px;
                margin-top: 47px;
                width: 194px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising a .card .mainBrand{
                width: 142px;
                padding-bottom: 70px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods #showContentCameras{
                margin-left: 215px;
        }
}
@media all  and (max-width:924px){
        .theWay{
                display: none;
        }
        .fullOfSearch .container .full{
                display: block;
        }
        .fullOfSearch .container .full .leftFullOfSearch{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 491px;
        }
        .fullOfSearch .container .full .leftFullOfSearch .priceG .priceSearch input{
                width: 130px;
        }
        .fullOfSearch .container .full .leftFullOfSearch .quantityPixel{
                width: 209px;
                order: -1;
                padding-top: 18px;
        }
        .fullOfSearch .container .full .leftFullOfSearch .matrixSearch{
                padding-top: 46px;
        }
        .fullOfSearch .container .full .leftFullOfSearch .lensSearch{
                padding-top: 47px;
        }
        .fullOfSearch .container .full .leftFullOfSearch .priceG{
                width: 209px;
        }
        .fullOfSearch .container .full .rightFullOfSearch{
                width: 500px;
                padding-top: 68px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods {
                height: 1419px;
                width: 500px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising{
                width: 500px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising a .card{
                width: 151px;
                height: 454px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising a .card img{
                width: 137px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising a .card .mainBrand,
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising a .card .card-price,
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising a .card .likesStars .stars{
                margin-left: 10px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods #showContentCameras{
                margin-left: 151px;
        }
}
@media all  and (max-width:530px){
        .fullOfSearch .container .full .leftFullOfSearch{
                width: 320px;
        }
        .fullOfSearch .container .full .leftFullOfSearch .priceG .priceSearch input{
                width: 62px;
        }
        .fullOfSearch .container .full .leftFullOfSearch .quantityPixel,
        .fullOfSearch .container .full .leftFullOfSearch .priceG {
                width: 113px;
        }
        .fullOfSearch .container .full .leftFullOfSearch .quantityPixel .headersSection{
                height: 58px;
        }
        .fullOfSearch .container .full .leftFullOfSearch .priceG .headersSection{
                height: 53px;
        }
        
        .fullOfSearch .container .full .rightFullOfSearch{
                width: 320px;
                padding-top: 68px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods {
                height: 1419px;
                width: 350px;
        }

        .fullOfSearch .container .full .rightFullOfSearch .SortShow .SortBy p{
                font-size: 12px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .SortShow .ShowBy {
               display: none; 
        }
        
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods {
                height: 1871px;
        }



        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising{
                width: 350px;
        }
        
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising a .card .mainBrand,
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising a .card .card-price,
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods .beforeTheAdvertising a .card .likesStars .stars{
                margin-left: 10px;
        }
        .fullOfSearch .container .full .rightFullOfSearch .FullGoods #showContentCameras{
                margin-left: 69px;
                font-size: 12px;
        }
}

/* Goods */
@media all  and (max-width:1200px){
        .fullGoods .container .totalFullGoods .totalPhotoGoods{
                background-size: 356px 356px;
        }
        .carouselGoods .container .carousel .next{
                left: 868px;
        }
}
@media all  and (max-width:924px){
        .fullGoods{
                padding-bottom: 60px;
        }
        .fullGoods .container .totalFullGoods{
                display: block;
                width: inherit;
        }
        .fullGoods .container .totalFullGoods .totalPhotoGoods{
                width: inherit;
                height: 643px;
        }
        .fullGoods .container .totalFullGoods .totalPhotoGoods{
                background-size: 356px 356px;
        }
        .fullGoods .container .totalFullGoods .totalPhotoGoods img:nth-child(2) {
                top: 57px;
                right: 274px; 
        }
              .fullGoods .container .totalFullGoods .totalPhotoGoods img:nth-child(3) {
                top: 57px;
                right: 128px; 
        }
              .fullGoods .container .totalFullGoods .totalPhotoGoods img:nth-child(4) {
                top: 57px;
                right: 19px; 
        }
        .fullGoods .container .totalFullGoods .rightDescription .basket{
                display: none;
        }
        .fullGoods .container .totalFullGoods .rightDescription .marka {
                padding-top: 10px; }
        .fullGoods .container .totalFullGoods .rightDescription .delivery {
                padding-top: 0px; 
        }
        .fullDescription .container .fd ul li{
                width: 177px;
                padding: 10px 0px;
        }
        .carouselGoods .container .carousel .next{
                left: 471px;
        }
}
@media all  and (max-width:530px){
        .fullGoods .container .totalFullGoods .totalPhotoGoods{
                background-size: 356px 356px;
        }
        .fullGoods .container .totalFullGoods .totalPhotoGoods img:nth-child(2) {
                top: 57px;
                right: 172px; 
        }
              .fullGoods .container .totalFullGoods .totalPhotoGoods img:nth-child(3) {
                top: 57px;
                right: 86px; 
        }
              .fullGoods .container .totalFullGoods .totalPhotoGoods img:nth-child(4) {
                top: 57px;
                right: 19px; 
        }
        .fullDescription .container .fd .characteristics .mainTable tr th, .fullDescription .container .fd .characteristics .constructionTable tr th, .fullDescription .container .fd .characteristics .weightTable tr th {
                padding-left: 3px;
        }
        .fullDescription .container .fd .characteristics .mainTable tr td, .fullDescription .container .fd .characteristics .constructionTable tr td, .fullDescription .container .fd .characteristics .weightTable tr td {
                padding-left: 3px;
        }
        .fullDescription .container .fd .review .review1{
                padding-left: 3px;
        }
        .fullDescription .container .fd ul li{
                height: 58px;
        }
        .carouselGoods .container .carousel .next{
                left: 306px;
        }
}

/* адрес */
@media all  and (max-width:924px){
        .full_Info .container .info .telephone_info .phone{
                margin-left: 100px;
        }
        .full_Info .container .info .main_info{
                margin-left: 100px;
        }
        .full_Info .container .info .media_info .media{
                margin-left: 100px;
        }
        .full_Info .container .info hr{
                width: 442px;
                 margin-left: 21px;
        }
}
@media all  and (max-width:530px){
        .full_Info .container .info .telephone_info .phone{
                margin-left: 44px;
        }
        .full_Info .container .info .main_info{
                margin-left: 44px;
        }
        .full_Info .container .info .media_info .media{
                margin-left: 44px;
        }
        .full_Info .container .info hr{
                width: 310px;
                 margin-left: 18px;
        }
}

