//colors

$grey1: rgba(0, 0, 0, 0.5);
$grey2: #99938A;
$yellow:  #FADE4B;
$whiteMain:  #FFFFFF;
$whiteSecond: #FFFCFC;
$black: #000000;
$asphalt: #EFEFEF;

//font size
$text-size: 16px;
$mini-text: 14px;
$headers: 32px;
$logo: 26px;



//font family
$f-family1: 'Roboto', sans-serif;